%h1 Student Details
- if @student.errors.any?
  #error_explanation
    %h2
      = pluralize(@student.errors.count, "error")
      Prohibited the details from being saved:
    %ul
      - @student.errors.full_messages.each do |msg|
        %li= msg
= form_for @student , url: students_create_path, html: { multipart: true } do |form|
  %p
    = form.label :name
    = form.text_field :name
  %p
    = form.label :level
    = form.collection_select(:level_id, Level.all, :id, :level_number)
  %p
    = form.label :fathername
    = form.text_field :fathername
  %p
    = form.label :email_id
    = form.text_field :email_id
  %p
    = form.label :contact_no
    = form.text_field :contact_no
  %p
    = form.label :date_of_birth
    = form.text_field :date_of_birth
  %p
    = form.label :date_of_joining
    = form.text_field :date_of_joining
  %p
    = form.label :address
    = form.text_area :address
  %p
    = form.file_field :avatar

  %p
    = form.submit
  
  = link_to 'Back', {:action => 'list'}
%hr/
